<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="css/imagehover.min.css" rel="stylesheet" media="all">
		<link rel="stylesheet" href="loma_homestyle.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

<!--/.navbar-->
<nav class="navbar sticky-top navbar-inverse">
			<div class="container-fluid">
			  <div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				  <span class="sr-only">Toggle navigation</span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Green veggie</a>
			  </div>
			  <div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right vnd_nav">
					<li><a class="navtext" href="#">ABOUTLOMA</li>
				  <li><a class="navtext" href="#">SIGNOUT</li>
				</ul>
			  </div><!--/.nav-collapse -->
			</div>
	</nav>


    {% block field %}

    {% endblock %}

    <div class="container-fluid bg-bg-footer">
		<div class="row">
			<div class="col-md-4 bg-footer">
			<h4 class="headfooter">ABOUT</h4>
			<p class="parafooter">
				we are the comprehensive and technology partner <br> for the digital age.we help the business to stay relevent to<br>their customers in the digital era by touching hearts and <br> minds<br>Building a better future with <br>tectevo solutions</p>
				
			</div>
			<div class="col-md-4 bg-footer">
				<h4 class="headfooter">Recent news</h4>
				
					
					
					<p class="parafooter4">Tectevo launches a new experience<br>with technologies and e-commerce</br> Bulding a better future with tectevo<br> solutions<br>client friendly atmosphere was provided <br>by tectevo soloutions</p><br><p class="parafooter3">16jan 2019</p>
					<p class="parafooter41">All rights are reserved by tectevo solutions</p>
				
			
			</div>
			<div class="col-md-4 bg-footer">
				<h4 class="headfooter">Get in touch</h4>
				<p class="parafooter-last">our support available to help you 24 hours a<br> day seven days in the week</br>
				<p class="cont-no">Contact us: 09887546119</p>
				<p class="email-info">Email id:</p><p class="email-info-info">jnunav1997@gmail.com</p>
				
			</div>
			
		</div>
	</div>

</body>
</html>
